body {
    background-color: #0F2854;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #061E29;
}

/* Chart Box */
.chart-box {
    background: #061E29;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(13, 110, 253, 0.4);
}
