body {
    background-color: #0F2854;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #0F2854 !important;
}

/* Title */
.title {
    text-align: center;
    margin: 20px 0;
}
.title h4 {
    color: #4da3ff;
}
.title h2 {
    color: #BDE8F5;
    font-weight: bold;
}

/* Welcome */
.welcome-section {
    text-align: center;
    padding: 60px 20px;
    background: #1C4D8D;
}

/* Container */
.container {
    background: #061E29;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 10px;
}

/* Achievements */
.achievements-title {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
}

.year-title {
    color: #c77dff;
    margin: 20px 0;
}

/* Slider */
.slider {
    overflow: hidden;
    width: 100%;
}
.slider-track {
    display: flex;
    gap: 20px;
    animation: scroll 20s linear infinite;
}

/* Card */
.topper-card {
    min-width: 220px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}
.topper-card:hover {
    transform: scale(1.08);
}

/* Modal */
.modal-content {
    box-shadow: 0 0 25px rgba(0, 123, 255, 0.6);
}

/* Animation */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* Responsive */
@media (max-width: 768px) {
    .topper-card {
        min-width: 180px;
    }
}
